@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-wrapper{
    width: 380px;
    height: 450px;
    background-color: chocolate;
    border-radius: 50px;
    box-shadow: 9% 9% 19% chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-container{
    width: 250px;
    height: 350px;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.counter-background{
    width: 200px;
    height: 250px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-value{
    font-size: 3cm;
    color: white;
}
.fa-angle-up{
    color: green;
}
.fa-angle-up:active {
   transform: translateX(2%) translateY(2%) scale(0.9) ;
}
.fa-angle-down{
    color: red;
}
.fa-angle-down:active{
    transform: translateX(2%) translateY(2%) scale(0.9) ;
 }